/**
* This file is part of the <智鼠> application.
*
* Version: 0.0.1
* Description:
*
* Author: HuaZhang <yahveh.zh@gmail.com>
* Date  : 2016-11-08 PM
* Last Updated:
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/

.main {
  padding: 15px 5px 15px 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.toolbar {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
  h3 {
    display:inline;
  }
}

.table {
  max-width: 1000px;
  margin:0 auto;
  .tr {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    border:1px solid transparent;
    border-bottom-color:#f9f9f9;
    &:hover {
      background-color:#f9f9f9;
      border-color:#f5f5f5;
    }
  }
  .intro {
    color:#B5B5B5;
    span {
      color:#FF6060;
    }
    strong {
      font-weight: 500;
      color:#666;
    }
  }
  .td {
    &:first-child {
      flex: 1;
    }
    &:last-child {
      width: 280px;
      padding:10px 20px;
      text-align: right;
    }
  }
  :global {
    .ant-radio-button-wrapper-checked {
      color: #fff;
background-color: #2db7f5;
    }
    .has-error {
      .ant-radio-button-wrapper {
        border-color:#ff7a57;
      }
    }
  }
}

fieldset {
  margin:0 0 15px 0;
  padding:10px;
  h3 {
    font-weight: 500;
  }
}
