:global {
	.ant-select-tree-dropdown {
		max-height:100%;
		overflow-y: auto;
	}
	.ant-select-tree-dropdown::-webkit-scrollbar
	{
		width: 6px;
	  height: 6px;
	}
	.ant-select-tree-dropdown::-webkit-scrollbar-thumb
	{
		background-color: rgba(0,0,0,0.13);
	  border-radius: 10px;
	}
	.ant-select-tree-dropdown:hover::-webkit-scrollbar-thumb
	{
		background-color: rgba(0,0,0,0.3);
	}
	.rag-red {
	    background-color: lightcoral;
	}
	.rag-green {
	    background-color: lightgreen;
	}
	.rag-amber {
	    background-color: lightsalmon;
	}

	.myCollapse .ant-collapse {
		border:0;
		background-color:transparent;
	}
	.myCollapse .ant-collapse-content {
		padding:0;
	}
	.myCollapse .ant-collapse-content > .ant-collapse-content-box {
		padding-top:0;
	}
	.myCollapse .ant-collapse > .ant-collapse-item {
		border-top:0;
	}

	.myCollapse .CBGLine label {
		display:block;
		margin: 6px 10px;
	}

	// .ant-time-picker-panel-select li:last-child:after {
  //   height: auto;
	// }
	.mt5 {
		margin-top:5px;
	}
}
.aside::-webkit-scrollbar,
.main::-webkit-scrollbar,
{
	width: 6px;
  height: 6px;
}
.aside::-webkit-scrollbar-thumb,
.main::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.13);
  border-radius: 10px;
}
.aside:hover::-webkit-scrollbar-thumb,
.main:hover::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.3);
}
.content {
  position: relative;
  height: 100%;
}

.aside {
	border-right: 1px solid #f5f5f5;
  width: 220px;
  overflow-y: auto;
  //transition: width 168ms ease;
  height: 100%;
	.box {
		margin-top:5px;
		margin-bottom:10px;
	}
	.header {
		height: 28px;
		line-height: 28px;
		overflow: hidden;
		background: linear-gradient(180deg,#f9f9f9 0,#f3f3f3);
		border-bottom: 1px solid #dedede;
    color: #797979;
    text-shadow: 1px 1px 1px #fff;
		user-select: none;
		padding: 0 10px;
		.name {
			font-size:14px;
		}
		.r {
			float:right;
		}
	}
	.inner {

	}
	.toolbar {
		padding:5px;
		.r {
			float: right;
		}
	}
	.footer {
		padding:5px;
	}
}

.main {
  overflow-y: auto;
	position: relative;
  overflow-x: hidden;
	flex: 1;
	height: 100%;
	.toolbar {
		margin-top:5px;
		height:28px;
		flex-basis: 28px;
		line-height: 28px;
		.tools {
			flex:1;
		}
	}
}

.pull-right {
	float:right;
}
.items {
	li {
		height:26px;
		line-height: 26px;
		padding:1px 6px;
    position: relative;
		&:hover {
			background: #f5f5f5;
			.operators {
				display: block;
			}
		}
	}
	.operators {
		display: none;
		position: absolute;
		line-height: 26px;
		right:0;
		top:0;
		i {
			cursor: pointer;
			margin-left:7px;
		}
	}
}

.main > .inner {
	margin-top:18px;
	padding-bottom:45px;
}
.aside .box:after,
.aside .toolbar:after,
.aside .header:after{
	content: "";
  display: table;
  clear: both;
}

.content.collapse .aside {
  width: 0;
  overflow: hidden;
  padding-left:0;
  padding-right:0;
}
.content.collapse .main {
	margin-left:0;
}
.collapseBtn {
	flex-basis: 35px;
	i {
		margin-left:3px;
		&:hover {
			transform: scale(1.5);
			transition: transform 100ms ease;
		}
	}
}


.ecBox {
	overflow: hidden;
	width:100%;
}
.ecBox .head {
	text-align: right;
	padding-right:12px;
	display: none;
}
.ecDiv {
	max-width:100%;
	margin:0 auto;
	height:380px;
}

.dateSel {
	margin-top: 5px;
	position: relative;
	min-height: 60px;
}
.tr {
	text-align: right;
}

tr.tableRow > td {
 padding:8px !important;
}

.tableCSV {
	text-align:right;
	margin-top:30px;
	margin-bottom:10px;
}
