.modalFFtuan {
  .ant-modal-header {
    padding: 8px 16px;
  }
  .ant-modal-close {
    top: 12px;
  }
}

.loading {
  padding: 15px 10px;
  font-size: 20px;
  text-align: center;
}

.hua {
  text-align: right;
}
