/**
* This file is part of the <智鼠> application.
*
* Version: 0.0.1
* Description:
*
* Author: HuaZhang <yahveh.zh@gmail.com>
* Date  : 2016-11-09 PM
* Last Updated:
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/
.zhang {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  position: relative;
}
.inputArea {
  position: relative;
  input {
    cursor: pointer;
  }
}
.operator {
  position: absolute;
  z-index:1;
  right:8px;
  top: 25%;
  pointer-events: none;
  :global(.fa-minus) {
    pointer-events: all;
  }
}


.hua {
  :global {
    .ant-spin {
      position: absolute;
      top: 40%;
      left: 50%;
      margin-left: -16px;
    }
    .ant-radio-group {
      width: 100%;
    }
    .ant-radio-wrapper {
      margin-right:0;
      display: block;
      height: 24px;
      line-height: 24px;
      &:hover {
        .ant-radio-inner {
          border-color: #2db7f5;
        }
      }
    }
  }
}
.hua,
.dataList {
  height:380px;
}

.footer {
}
.filterInput {
  float:left;
  width: 260px;
}


.ss {
  li {
    cursor: pointer;
    width:100%;
    display: block;
    color:#666;
    line-height: 28px;
    padding-left: 8px;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  li.se {
    background-color: #0094ff;
    color: #fff;
  }
  :global {
    .ant-col-6 {
      overflow: auto;
      height: 460px;
    }
  }
}
