/**
* This file is part of the <智鼠> application.
*
* Version: 0.0.1
* Description:
*
* Author: HuaZhang <yahveh.zh@gmail.com>
* Date  : 2016-09-28 17:09:19
* Last Updated:
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/

.sideTpl {
  position: absolute;
  left:0;top:0;
  bottom:0;right:0;
  background-color: rgba(0,0,0,0.1);
  z-index:1000;
  overflow: hidden;
  //display: none;
}
.sideTpl.active {
  display: block;
}
.sideTplTO {
  position: absolute;
  text-align: left;
  left:100%;
  top:0;
  width: 480px;
  height:100%;
  box-shadow: 0px 0px 30px #999;
  background-color:#fff;
}
.sideTplTitle {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  font-size:14px;
  color:#333;
}
.sideTplCurrent {
  color: #0eb520;
}

.sideTplMy {
}
.sideTplRow {
  padding:10px;
}
.sideTplRow:hover {
  background-color:#f5f5f5;
}
.sideTplSys {
  margin-top:5px;
  padding-top:5px;
  border-top: 1px dotted #ddd;
}
