:global{
  .ant-btn {
    border-radius: 1px;
    transition: all .2s ease;
  }
  .ant-modal-close-x {
    transition: transform 350ms ease;
    &:hover {
      transform: rotate(360deg);
    }
  }
  .ant-message-notice-content {
    transition: background-color .1s ease;
    border-radius: 1px;
    transition: background-color 100ms ease;
    border-color:rgba(0, 0, 0, 0.9);
    box-shadow: 0 1px 8px hsla(0, 0%, 0%, 0.2);
    background-color: rgba(0, 0, 0, 0.76);
    color: #fdfdfd;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
    // &:hover {
    //   background-color: rgba(255,255,255,0.85);
    //   color: #444;
    //   text-shadow: none;
    // }
  }
  .ant-modal-title {
    font-family: '华文细黑', Arial;
    font-size:13px;
  }
  .ant-menu-item .fa,
  .ant-menu-submenu-title .fa {
    min-width: 14px;
    margin-right: 6px;
  }
  .ant-modal-header {
    border-radius: 1px 1px 0 0;
    padding: 5px 12px;
    border-color: #f9f9f9;
    user-select: none;
  }
  .ant-modal-footer {
    border-color: #f9f9f9;
    .ant-btn-lg {
      font-size: 12px;
    }
  }
  .ant-modal-close {
    top:10px;
  }
  .ant-select-dropdown,
  .ant-select-selection,
  .ant-input,
  .ant-alert,
  .ant-input-number,
  .ant-input-number-input,
  .ant-modal-content {
    border-radius: 1px !important;
  }
  .ant-input {
    border: 1px solid #f5f5f5;
    box-shadow: none !important;
  }
  .ant-input-group-addon {
    border-color: #f5f5f5;
    background-color: #f9f9f9;
  }
  .ant-select-open .ant-select-selection {
    box-shadow: none;
  }
  .ant-radio, .ant-radio-wrapper {
    cursor: pointer;
  }
  .pos-form {
    .ant-form-item,
    .ant-form-item-with-help {
      margin-bottom: 12px;
    }
    .has-error {
      .ant-form-explain {
        display: block;
        position: absolute;
        right: 5px;
        top: 2px;
        pointer-events: none;
        background-color: #fff;
            z-index: 10;
      }
     .ant-select-selection {
       box-shadow: none;
     }
    }
    fieldset {
      border: 1px solid #f5f5f5;
      padding: 10px;
    }
    legend {
      margin-bottom: 0;
          border: 0;
          padding: 0 8px;
          width: auto;
    }
  }
  .modalTop {
    .ant-modal {
      top: 0;
    }
    .ant-modal-header {
      border-radius: 0;
    }
  }
  .ant-input-group-addon .ant-select-focused .ant-select-selection, .ant-input-group-addon .ant-select-open .ant-select-selection {
    border-color: transparent;
  }
  .ant-select-focused .ant-select-selection, .ant-select-selection:active, .ant-select-selection:focus {
    box-shadow: none;
  }
	.ant-calendar-time-picker-select::-webkit-scrollbar
	{
		width: 6px;
	  height: 6px;
		background-color: #f7f7f7;
	}
	.ant-calendar-time-picker-select::-webkit-scrollbar-thumb
	{
	  border-radius: 10px;
	}
	.ant-calendar-time-picker-select:hover::-webkit-scrollbar-thumb
	{
		background-color: rgba(0,0,0,0.2);
	}
  .ant-calendar-range-picker.ant-input-sm {
    padding-right:2px;
  }
}
