/**
* This file is part of the <智鼠> application.
*
* Version: 0.0.1
* Description:
*
* Author: HuaZhang <yahveh.zh@gmail.com>
* Date  : 2016-11-11 PM
* Last Updated:
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/
.aside {
  padding:0 5px 10px;
  .bbq {
    small {
      background-color:#f9f9f9;
      padding:1px 6px;
      margin-left:10px;
      color:#999;
    }
  }
  .wCBG {
    padding-left:8px;
    user-select: none;
    em {
      color: #fff;
    background-color: rgba(255, 0, 0, 0.95);
    border-radius: 5px;
    padding: 0 4px 0 3px;
    font-size: 12px;
    }
    &:hover {
      background-color:#fff;
    }
  }
  .box {
    margin-bottom: 5px;
    &:hover {
      background-color:#f9f9f9;
    }
    .tt {
      position: relative;
      padding-left: 25px;
      line-height:30px;
      border-bottom: 1px dotted #f9f9f9;
      user-select: none;
      .arrow {
        position: absolute;
        left:5px;
        top:0;
        width: 18px;
height: 100%;
        &:before {
          position: absolute;
          left:5px;
          top:0;
          font-family: anticon!important;
          content: "\E606";
          color: #666;
          transform: scale(.58333333);
        }
      }
    }
    .dd {
      //padding-left:5px;
      padding-top:5px;
      padding-bottom:10px;
    }
    &.closed {
      .tt {
        .arrow {
          &:before {
            transform: scale(.58333333) rotate(-90deg);
          }
        }
      }
      .dd {
        display: none;
      }
    }
  }
  :global{
    .ant-radio-wrapper,
    .ant-checkbox-group-item {
      margin-left:8px;
    }
  }
}

.sColumn {
  :global{
    .ant-radio-wrapper,
    .ant-checkbox-group-item {
      display: block;
      user-select: none;
    }
  }
}
.sChks {
  :global{
    .ant-checkbox-group-item {
      display: block;
      margin-left:0;
      user-select: none;
      line-height:22px;
      &:first-child {
        margin-top: 4px;
      }
    }
  }
}

.mergeOtip {
  margin-bottom: 10px;
  .s1 {
    padding: 4px;
    background-color: #ffffff;
    color: #0000ff;
  }
  .s2 {
    padding: 4px;
    background-color: #a8d59d;
  }
  .s3 {
    padding: 4px;
    background-color: #fffbbd;
  }
  .s4 {
    background-color: #efefef;
    color: #999;
      padding: 4px;
  }
}

.img {
  position: relative;
  width: 36px;
  height:36px;
  display: inline-block;
  background-size: cover;
  margin:1px;
  float:left;
  background-color:#fff;
  span {
    position: absolute;
    left: -4px;
    top: -3px;
    font-size: 12px;
font-family: Arial;
    background-color: #f00;
    color: #ffffff;
    border-radius: 6px;
        padding: 0px 5px;
  }
}
.mergeOTable {
  .imgs {
  }
  .tag {
    background-color: #0094ff;
    color: #fff;
    display: inline-block;
    padding: 3px 3px 3px 4px;
    line-height: 12px;
    padding-right: 4px;
    height: 20px;
    min-width: 20px;
    text-align: center;
    border-radius: 5px;
    margin-left: 2px;
  }
  .s1 {
    padding: 4px;
    background-color: #ffffff;
  }
  .s2 {
    background-color: #a8d59d;
  }
  .s3 {
    background-color: #fffbbd;
  }
  .s4 {
    background-color: #efefef;
    color: #999;
  }
}

.centerWrapper {
  display: flex;
  height: 68px;
  flex-direction: column;
  position: relative;
  .gray {
    color: #8A8A8A;
  }
  .mAuto {
    margin: auto;
    div {
      word-break: break-all;
      white-space: normal;
      word-wrap: break-word;
      line-height: 1;
    }
  }
  .mColumn {
    margin: auto 0;
  }

  .mRightMiddle {
    margin: auto 3px auto 0;
    text-align: right;
    div {
      word-break: break-all;
      white-space: normal;
      word-wrap: break-word;
      line-height: 1;
    }
  }
  .mLeftMiddle {
    margin: auto 3px auto 0;
    div {
      word-break: break-all;
      white-space: normal;
      word-wrap: break-word;
      line-height: 1;
    }
  }
}

.autoLine {
  word-break: break-all;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.1;
}

.itemSKUsWrapper {
  position: absolute;
  display:none;
  left: 50%;
  top: 100%;
  margin-top: 0px;
  width: 840px;
  z-index: 8;
  background-color: #fff;
  border: 1px solid #0094ff;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 3px 1px rgba(255, 255, 255, 0.78);
  padding: 5px 7px 10px;
  color:#666;
  &:before {
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #0094ff #0094ff;
    left: -1px;
    top: -12px;
    content: '';
    width:0;
    height:0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
  }
  &:after {
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff #fff;
    left: 0;
    top: -10px;
    content: '';
    width:0;
    height:0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
  }
}
.zgrid {
  .zhang {
    overflow: visible;
    &:global(.ag-cell-focus) {
      .itemSKUsWrapper {
        display:block;
      }
    }
  }
  :global {
    .ag-fresh .ag-selection-checkbox img {
      margin-top: 25px;
    }
  }
}

.poster {
  display: inline-block;
  margin:1px;
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  span {
    position: absolute;
    margin-top: -6px;
    margin-left: -4px;
    line-height: 14px;
    border-radius: 8px;
    color: #00f;
    padding-left: 3px;
    padding-right: 4px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #ccc;
  }
}
.posterCircal {
  display: inline-block;
  margin:1px;
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  float: left;
  border-radius: 50%;
  text-align: center;
  span {
    color: #f00;
    line-height: 30px;
  }
}

._zp:before {
  content: '赠';
  font-size: 12px;
  padding: 1px 3px;
  line-height: 1;
  border-radius: 5px;
  color: rgb(255, 0, 0);
  font-weight: 400;
  background-color: rgb(250, 205, 138);
  margin-right:2px;
  text-shadow: none;
}
.skuer {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted #f5f5f5;
  ._text {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  ._ipts {
    display: none;
    position: absolute;
    left:0;
    top: 0;
    margin-top: 12px;
    :global {
      .ant-input {
        text-align: right;
      }
    }
  }
  ._gray2 {
    color: #999;
  }
  ._poster,
  ._price,
  ._itemid,
  ._tPrice,
  ._info,
  ._amount,
  ._num {
    vertical-align: middle;
    padding: 4px 6px 4px 2px;
    line-height: 16px;
    position: relative;
    margin-right:1px;
    height: 60px;
  }
  ._ict {
    margin:auto;
    text-align: left;
    width: 100%;
  }
  ._poster {
    padding-left: 6px;
    border: 6px solid transparent;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-top: 13px;
    //background-color:#fff;
  }
  ._itemid {
    width: 160px;
      display: flex;
      flex-direction: column;
  }
  ._price {
    width: 76px;
    ._red {
      color: #f00;
      text-align: right;
      margin: auto;
      width: 100%;
    }
  }
  ._num {
    width: 50px;
    ._blue {
      color: #00f;
      text-align: right;
      margin: auto;
      width: 100%;
    }
  }
  ._tPrice {
    width: 76px;
      display: flex;
      flex-direction: column;
    ._gray {
      font-style: italic;
      text-align: right;
      color: #666;
      margin: auto;
    }
  }
  ._info {
    flex: 1;
    ._weight {
      color: #42c8ff;
    }
    ._ipts {
      width: 90%;
      :global {
        .ant-input {
          text-align: left;
        }
      }
    }
  }
  ._amount {
    width:136px;
    ._ipts {
      margin-top: 16px;
    }
    ._am {
      color: #06a026;
      text-align:right;
      margin: auto;
    }
    :global(.ant-btn-ghost) span {
        color:#666;
    }
  }
}
.quickModify {
  .skuer:hover {
    background-color: #f9f9f9;
    text-shadow: 1px 1px 1px #fff;
    ._text {
      display: none;
    }
    ._ipts {
      display: block;
    }
  }
}

.sliver {
  color:#999;
  margin-left:4px;
  margin-right:4px;
}

.modalFormTitle {
  font-weight: 500;
  font-size:14px;
  margin: 0;
}

.orderS0 { //
  background-color: #fffcd5!important;
  color: #666!important;
}
.orderS1 { //
  background-color: rgb(253, 231, 171)!important;
  color: rgb(102, 102, 102)!important;
}
.orderS2 { //
  background-color: rgb(224, 253, 173)!important;
  color: rgb(1, 124, 26)!important;
}
.orderS3 { //
  background-color: rgb(198, 227, 239)!important;
      color: rgb(10, 135, 186)!important;
}
.orderS4 { //
  background-color: rgb(0, 159, 60)!important;
  color: rgb(255, 255, 255)!important;
}
.orderS5 {
  background-color: #ccc!important;
  color: #333!important;
}
.orderS6 {
  background-color: rgb(255, 0, 0)!important;
    color: rgb(255, 255, 255)!important;
}
.orderS7 {
  background-color: rgb(169, 131, 79)!important;
  color: rgb(255, 255, 255)!important;
  .dtype {
    color: #ff0;
    margin-top: 5px;
  }
}
.orderS8 {
  background-color: rgb(204, 204, 204)!important;
    color: rgb(51, 51, 51)!important;
}



.modal {
  :global {
    .ant-modal-body {
          padding: 10px 3px 0;
    }
    .ant-modal-footer {
      padding: 8px;
    }
    .ag-fresh {
      .ag-root {
        border-bottom: 1px solid #f6f6f6;
      }
    }
  }
}.hua {
  height:478px;
  display: flex;
  flex-direction: column;
}.hua1 {
  height:358px;
  display: flex;
  flex-direction: column;
  :global {
    .ant-radio-group {
      width: 100%;
    }
    .ant-radio-wrapper {
      width: 31%;
      margin-bottom: 5px;
    }
  }
}
.toolbars {
  flex-basis: 35px;
  padding: 0 10px;
  :global {
    .ant-form-inline .ant-form-item {
      margin-right: 2px;
    }
  }
}
.footerBtns {
  margin-right: 9px;
  :global(.ant-btn) {
    margin-left:4px;
  }
}

.iframeModal {
  :global {
    .ant-modal-body {
      padding: 0;
      line-height: 1;
    }
    iframe {
      width: 100%;
    min-height: 500px;
    }
  }
}
.processDiv {
  ul {
    list-style-type: decimal;
    margin-bottom: 5px;
  }
  li {
    border-bottom: 1px dotted transparent;
    &:hover {
      border-color: #eee;
    }
  }
  strong {
    width: 56px;
    display: inline-block;
    text-align: center;
  }
  span {
    color: #696969;
    margin-left:10px;
    font-family: 'Segoe UI','宋体', Tahoma, Arial, Verdana;
  }
}

.float {
  position: absolute;
  right: 3px;
  top: 28px;
  line-height: 22px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  white-space: nowrap;
  width: 20px;
  height: 20px;
  font-family: 'Microsoft YaHei';
  text-align: center;
  background-color: #42c8ff;
  display: none;
  &:hover {
    background-color: #f00;
  }
}
.zgrid {
  .fck-0,
  .fck-1,
  .fck-7 {
    &:hover {
      .float-2 {
        display: block;
      }
      .float-3 {
        display: block;
      }
    }
  }
  .fck-0,
  .fck-1,
  .fck-2,
  .fck-3,
  .fck-4,
  .fck-5,
  .fck-6,
  .fck-7,
  .fck-8 {
    &:hover {
      .float-0 {
        display: block;
      }
      .float-1 {
        display: block;
      }
    }
  }
}

.noMBForm {
  :global {
    .pos-form .ant-form-item,
    .pos-form .ant-form-item-with-help {
        margin-bottom: 0;
    }
  }
}
.opsArea {
  background-color:#f9f9f9;
  padding:10px;
  width: 220px;
}

.radios1 {
  :global {
    .ant-radio-wrapper {
      display: block;
      line-height: 23px;
    }
  }
}
.experWrapper {
  display: flex;
  flex-direction: row;
  .exps {
    flex: 1;
  }
  .radios {
    width: 200px;
    padding-left:20px;
    :global {
      .ant-radio-wrapper {
        display: block;
        line-height: 23px;
      }
    }
  }
  .pch {
  }
  .row {
    margin-bottom: 5px;
    border-bottom: 1px dotted #f9f9f9;
    :global {
      .ant-row {
        margin-bottom: 5px;
      }
    }
    strong {
      font-size:14px;
    }
  }
}

.formD {
  margin:5px 5px 8px;
  .label {
    text-align: right;
    color: #949494;
    &:after {
      content: '：';
      color:#949494;
      pointer-events: none;
    }
  }
  .inpt {
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    cursor: text;
    &:before {
      content: '_';
      color:#fff;
      pointer-events: none;
      visibility: hidden;
    }
  }
}
.logs {
  h3 {
    margin: 10px 0;
  }
  div {
    font-family: 'Segoe UI','宋体', Tahoma, Arial, Verdana;
    font-size:12px;
  }
}
.pays {
  margin-top:10px;
  h3 {
    padding: 10px 0;
  }
  .ppap0 {
    text-align: center;
  }
  .ppap1,
  .ppap2,
  .ppap3 {
    border-bottom: 1px dotted #ccc;
    margin-right: 10px;
    color: #333;
    &:before {
      content: '单号:';
      display: inline-block;
      color: #999;
      border-bottom: 1px solid #fff;
      margin-bottom: -1px;
      margin-right: 5px;
    }
  }
  .ppap2 {
    &:before {
      content: '金额:';
    }
  }
  .ppap3 {
    &:before {
      content: '支付日期:';
    }
  }
}

.items {
  margin-top:20px;
  h3 {
    border-top: 1px solid #f9f9f9;
    padding: 10px 0;
  }
  ._poster {
    width: 46px;
    height: 46px;
    background-size: contain;
    vertical-align: middle;
    //margin: auto;
    margin: -8px;
  }
  ._ppap {
    display:inline-block;
    color:#A0A0A0;
    margin-right:5px;
  }
  .tQty {
    color: #00f;
    width: 100px;
    text-align: left;
    display: inline-block;
  }
  :global {
    .gray {
      color:#A9A9A9;
    }
  }
}
.items_c {
  margin: 10px 0 20px;
  font-family: 'Segoe UI','宋体', Tahoma, Arial, Verdana;
  .bPrice {
    text-align: left;
    color:#666;
    width:100px;
    display:inline-block;
  }
  .rPrice {
    text-align: left;
    color:#f00;
    width:100px;
    display:inline-block;
  }
  .bPrice,
  .rPrice {
    font-size:13px;
    &:before {
      content: '￥';
      color:inherit;
      display: inline-block;
      margin-right:4px;
      margin-left:1px;
      pointer-events: none;
      font-size:12px;
    }
  }
  .hr {
    margin: 10px 0;
    border-top: 1px dotted #f5f5f5;
    padding: 5px 0;
  }
}

.customExcecption {
  color:#999;
  text-decoration: underline;
}

.process {
  .exception {
    background-color: #0094ff;
    color: #fff;
    padding: 5px 10px;
  }
}
